@model IEnumerable<Game>
@{
    ViewData["Title"] = "Home Page";
}
<style>
.title-section {
    background-color: #009DC4;
    border-radius: 25px;
}
.container {
    padding: 20px;
}

.form-control {
    width: 95%
}

h2 {
    color: white;
}
</style>
<div class="title-section">
    <div class="container">
        <h2>@ViewData["Message"]</h2>
        <div class="active-cyan-3 active-cyan-4 mb-4">
            <input class="form-control" type="text" placeholder="Search" aria-label="Search">
        </div>
    </div>
</div>
<table class="table">
    <tr>
        <th>Name</th>
        <th>Description</th>
    </tr>
    @foreach (var game in Model)
    {   
        <tr>
            <td>
                @Html.DisplayFor(modelItem => game.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => game.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => game.OwnerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => game.GameID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => game.Quantity)
            </td>
        </tr>
    }
</table>