@model List<BasketItem>
@{
    ViewData["Title"] = "Basket";
}
<div class="title-section">
    <div class="container">
        <h2>@ViewData["Message"]</h2>
    </div>
</div>
<table class="table">
    <tr> 
        <th>Game Image</th>
        <th>Name</th>
        <th>Description</th>
        <th>Quantity</th>
    </tr>
@if (Model != null) {
    @foreach (var game in Model)
    {   
        <tr>
            <td>
                <img src="data:image;base64,@System.Convert.ToBase64String(game.GameImage)" width="100" height="100"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => game.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => game.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => game.PurchaseQuantity)
            </td>
            <td>
                <form asp-action="RemoveFromBasket" asp-route-id="@game.GameID" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <input class="btn btn-default" type="submit" value="Remove" />
                    </div>
                </form>
            </td>
        </tr>
    }
}
</table>