@using Microsoft.AspNetCore.Identity

@inject UserManager<ApplicationUser> userManager

@model IEnumerable<Game>
@{
    ViewData["Title"] = "Games For Sale";
}
<style>
.title-section {
    background-color: #009DC4;
    border-radius: 25px;
}
.container {
    padding: 20px;
}

.form-control {
    width: 95%
}

h2 {
    color: white;
}
</style>
<div class="title-section">
    <div class="container">
        <h2>@ViewData["Message"]</h2>
        <div class="active-cyan-3 active-cyan-4 mb-4">
            <form>
                 <input value="@ViewData["currentFilter"]" name="searchString" class="form-control" type="text" placeholder="Search" aria-label="Search">
                 <input value="Search" type="submit" class="btn btn-default">
            </form>
        </div>
    </div>
</div>
<table class="table">
    <tr> 
        <th>Game Image</th>
        <th><a asp-action="GamesForSale" asp-route-order="@ViewData["NameSortParm"]" asp-route-searchString="@ViewData["currentFilter"]">@Html.DisplayNameFor(model => model.Name)</a></th>
        <th><a asp-action="GamesForSale" asp-route-order="@ViewData["DescriptionSortParm"]" asp-route-searchString="@ViewData["currentFilter"]">@Html.DisplayNameFor(model => model.Description)</a></th>
        <th>Quantity Avaliable</th>
        <th>Price</th>
        <th></th>
        <th></th>
        <th></th>
        <th>Status</th>
    </tr>
    @foreach (var game in Model)
    {   
        <tr>
            <form asp-action="Basket" asp-controller="Order" asp-route-id="@game.GameID" method="post" enctype="multipart/form-data">
                    <td>
                        <img src="data:image;base64,@System.Convert.ToBase64String(game.GameImage)" width="100" height="100"/>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => game.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => game.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => game.Quantity)
                    </td>
                    <td>
                        £@Html.DisplayFor(modelItem => game.Price)
                    </td>
                    @if (game.Quantity != 0 && userManager.GetUserId(User) != game.OwnerID) {
                        <td>
                            <a class="btn btn-default" asp-area="" asp-controller="Games" asp-action="View" asp-route-id="@game.GameID">View</a>
                        </td>
                        <td>
                            <input name="purchaseQuantity" value="1" type="number" min="1" max="@game.Quantity" step="1" class="form-control" />
                        </td>
                        <td>
                            <div class="form-group">
                                <input type="submit" value="Add to Basket" class="btn btn-default" />
                            </div>
                        </td>
                        <td>For-sale</td>
                    } else {
                        @if (userManager.GetUserId(User) != game.OwnerID) {
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Sold!</td>
                        } else {
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        }
                    }
            </form>
        </tr>
    }
</table>